.label {
  width: 240px;
  min-height: 210px;
  position: absolute;
  top: var(--label-y);
  left: var(--label-x);
  transform: translate(-50%, -50%);
  pointer-events: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  margin: 0 0 15px;
  border-bottom: 2px solid var(--quadrant-color);
  text-transform: uppercase;
  font-size: 12px;
}

.title {
  margin: 0 0 10px;
}

.description {
  font-size: 14px;
}
